html{
  background: black;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

body, footer{
  overflow: hidden;
  width: 100vw;
}

.cont{
  display: grid;
  grid-template-columns: repeat(3, 52px); 
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}


.main {
  /* margin-top: -100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}


.timer { 
  height: 40px;
  width: 100px;
  font-size: 36px;
  background-color: white;
  color: black; 
  text-align: center;
  align-items: center;
}

.slots {
  height:50px;
  width: 50px;
  background: blue;
  border-radius: none;
  cursor:pointer;
}

h1{
  color: white;
  text-align: center;
}


.level-winner, .start, .level-loser, .level-loser2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-color: #e5f504;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  z-index: 1;
  color: black;
}

.level-loser{
  background-color: red;
}

.startbtn, .donebtn, .againbtn{
background-color: white;
padding: 10px;
border: none;
}

.startbtn:hover, .donebtn:hover, .againbtn:hover{
  background-color: gray;
}

.start{
  opacity: 1;
  pointer-events: all;
}

.navbar{
  display: flex;
  background-color: white;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
  justify-content: center;
}

.navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.navbar a:hover{
  background-color: gray;
  text-align: center;
}

.title{
  color: black
}

.begin{
display: flex;
justify-content: space-;
align-items: center;
height: 75vh;
}

.index-main button{
  width: 150px;
  height: 50px;
}
.play{
  background-color: green;
  border: none;
  
}

/* .timer{
  color: white;
} */

.time{
  text-align: left;
}

.play a{
  color: white;
  text-decoration: none;
}

button:hover{
  cursor: pointer;
}

.play:hover{
  background-color: lightgreen;
 
}

.index-main{
  display: flex;
  justify-content: center;
}


#overlay, #custom, #overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popupDialog, #customizaton, #popupDialog2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#popupDialog2{
  width: 450px;
}


#popup-h1, #popup-h2{
  color: black;
}

#closebtn, #closebtn2{
  height: 40px;
  width: 90px;
  border: none;
  background-color: rgb(3, 3, 93);
  color: white
}
#closebtn:hover, #closebtn2:hover{
  background-color: rgb(101, 194, 241);
}

.shapes li{
  display: inline;
  padding: 15px 27.5px;
  background-color: aqua;
}

.level li {
  display: inline;
  padding: 15px 40px;
  
}

.blocksNum li{
  display: inline;
  padding: 15px 30px;
}

.mode li{
  display: inline;
  padding: 15px 57px;
}

.mode #dark, .mode #light{
  background-color: darkviolet;
}

.mode #dark:hover, .mode #light:hover{
  background-color: rgb(215, 141, 243);
  cursor: pointer;
}

.level #l1:hover, .level #l2:hover, .level #l3:hover{
  background-color: rgb(246, 214, 214);
}

.blocksNum #b1, .blocksNum #b2, .blocksNum #b3 {
background-color: rgb(68, 196, 68);
}

.blocksNum #b1:hover, .blocksNum #b2:hover, .blocksNum #b3:hover {
  background-color: rgb(156, 235, 156);
  cursor: pointer;
  }


.level #l1, .level #l2, .level #l3 {
  background-color: red;
}


.shapes li:hover, .level li:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

.shapes li.selected {
  background-color: lightgreen; /* Change to your desired color */
}

.shapes li::after {
  background-color: cornflowerblue;
}


