html{
  background: black;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  
}

body{
  overflow: hidden;
  width: 100vw;

}
footer{
margin-left: -8px
}

.cont{
  display: grid;
  grid-template-columns: repeat(3, 52px); 
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}


.main {
  /* margin-top: -100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  
}


.timer { 
  height: 50px;
  width: 130px;
  font-size: 36px;
  background-color: white;
  color: black; 
  text-align: center;
  align-items: center;
}

.slots {
  height:50px;
  width: 50px;
  background: blue;
  border-radius: none;
  cursor:pointer;
  pointer-events: none;
}

h1{
  color: white;
  text-align: center;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.level-winner button{
  margin: 10px 20px;
}


.level-winner, .start, .level-loser, .level-loser2 {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  /* background-color: #e5f504; */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(128, 128, 128, 0.4) 5px 5px, 
            #8080804d 10px 10px, 
            rgba(128, 128, 128, 0.2) 15px 15px, 
            rgba(128, 128, 128, 0.1) 20px 20px, 
            rgba(128, 128, 128, 0.05) 25px 25px;

  z-index: 1000;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  z-index: 1;
  color: black;
}

.level-loser{
  padding: 7rem 9rem;
  box-shadow: rgba(255, 0, 0, 0.4) 5px 5px, 
            rgba(255, 0, 0, 0.3) 10px 10px, 
            rgba(255, 0, 0, 0.2) 15px 15px, 
            rgba(255, 0, 0, 0.1) 20px 20px, 
            rgba(255, 0, 0, 0.05) 25px 25px;

}

.level-winner{
  padding: 5rem 7rem;;
  box-shadow: rgba(0, 128, 0, 0.4) 5px 5px, 
            rgba(0, 128, 0, 0.3) 10px 10px, 
            rgba(0, 128, 0, 0.2) 15px 15px, 
            rgba(0, 128, 0, 0.1) 20px 20px, 
            rgba(0, 128, 0, 0.05) 25px 25px;

}

.startbtn, .donebtn, .againbtn, .againbtn1{
background-color: white;
padding: 10px;
border: none;
}

.startbtn:hover, .donebtn:hover, .againbtn:hover, .againbtn1:hover{
  background-color: gray;
}

.start{
  opacity: 1;
  pointer-events: all;
}

.navbar{
  display: flex;
  background-color: white;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
  justify-content: center;
}

.navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.navbar a:hover{
  background-color: gray;
  text-align: center;
}

.title{
  color: black
}

.begin{
display: flex;
justify-content: center;
align-items: center;
height: 75vh;
}

.index-main button{
  width: 150px;
  height: 50px;
  margin-right: 30px;
}
.play{
  background-color: green;
  border: none;
  
}


.time{
  text-align: left;
}

.play a{
  color: white;
  text-decoration: none;
}

button:hover{
  cursor: pointer;
  background-color: white;
}

.play:hover{
  background-color: lightgreen;
 
}

.index-main{
  display: flex;
  justify-content: center;
}


#overlay, #custom, #overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#popupDialog, #customizaton, #popupDialog2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  z-index: 1000;
}

#popupDialog2{
  width: 450px;
}


#popup-h1, #popup-h2{
  color: black;
  
}

#closebtn, #closebtn2{
  height: 40px;
  width: 90px;
  border: none;
  background-color: rgb(3, 3, 93);
  color: white
}


.shapes li{
  display: inline;
  padding: 5px 10px;
  margin-right: 9px;
  background-color: aqua;
}

.level li {
  display: inline;
  margin-right: 10px;
  padding: 5px 20px;
  
}

.blocksNum li{
  display: inline;
  margin-right: 5px;
  padding: 5px 10px;
}

.mode li{
  display: inline;
  margin-right: 10px;
  padding: 5px 20px;
}


/* CSS */
button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 5;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.play{
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
}

.play:before , .viewIns:before, .custombtn:before, .startbtn:before, .donebtn:before, .againbtn:before, .againbtn1:before{
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 10s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.play:hover::before, .viewIns:hover::before, .custombtn:hover::before, .startbtn:hover::before, .donebtn:hover::before, .againbtn1:hover::before, .againbtn:hover::before{
  content: "";
  background: linear-gradient(
    45deg,
    #f58989,
    #f9b279,
    #f6f379,
    #9ff87b,
    #86f4e1,
    #788dfa,
    #c793fe,
    #f59ee2,
    #f58989
  );
 
}

.viewIns:hover::after, .custombtn:hover::after, .startbtn:hover::after, .donebtn:hover::after, .againbtn:hover::after, .againbtn1:hover::after{
  background-color: #313131c4;
}

h3, a, #b1, #b2, #b3{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

br{
  content: "";
  display: block;
  margin: 40px 0;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.viewIns:after, .custombtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: white
}

.level-header {
  display: flex;
}

.title_header{
  flex: 1;
  text-align: justify;
  margin-left: 100px

}

.score{
  min-width: 100px; 
  text-align:justify;
}


li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



li:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


#closebtn2, #closebtn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#closebtn2:hover, #closebtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: lightblue;
}

#closebtn2:focus, #closebtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


body {
  min-height: 100vh;
  overflow: hidden;
}

#fallingShape {
  position: absolute;
  top: -20px;
  color: #ffffff;
  animation: animate 5s linear forwards;
}


#fallingShape::before {
  content: "\f005";
  font-family: "FontAwesome";
  text-shadow: 0 0 5px #ffffff, 0 0 30px #f5f4f2, 0 0 50px #f6f5f5;
  content: "\f005"; 
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

h2{
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 300;
  font-size:x-large;
  font-style: normal;
}
 #instructionText{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: X-large;
 }


.viewIns, .custombtn, .play{
  display: flex;
  padding: 30px 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}









